/* Estilos para el overlay del loader */
.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; /* Asegurar que esté por encima de todo */
  }
  
  /* Estilos adicionales */
  .p-error {
    color: #f44336; /* Color rojo para mensajes de error */
    font-size: 0.875rem;
  }
  
  /* Adaptación a pantallas pequeñas */
  @media screen and (max-width: 576px) {
    .surface-card {
      padding: 1rem;
    }
  }

  /* Aseguramos que el formulario y los inputs no se desborden */
form {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
  }
  
  input, p-password {
    width: 100%; /* Asegura que los inputs ocupen el 100% del contenedor */
    max-width: 100%; /* Evita que los inputs se estiren más allá del contenedor */
    padding: 1rem; /* Ajustamos el padding para una mejor visibilidad */
    font-size: 1rem; /* Ajustamos el tamaño de la fuente para que se vea bien en cualquier pantalla */
  }
  
  button {
    width: 100%; /* Asegura que el botón ocupe el 100% del contenedor */
    padding: 1rem;
    font-size: 1rem;
  }
  
  