<h1>Recuperar Contraseña</h1>
<form (ngSubmit)="onSubmit()" #forgotPasswordForm="ngForm" class="p-fluid">
  <div class="field">
    <label for="email">Correo electrónico</label>
    <input
      type="email"
      id="email"
      name="email"
      [(ngModel)]="email"
      required
      email
      placeholder="Ingrese su correo electrónico"
      class="p-inputtext p-component"
    />
  </div>
  <button type="submit" [disabled]="!forgotPasswordForm.valid" class="p-button p-component">
    Enviar enlace de recuperación
  </button>
</form>
